
div {
	box-sizing: border-box;
}

.main div {
	border: 3px solid black;
	margin: 0 auto;
}

.one {
	width: 600px;
	height: 300px;
}

.one > span {
	color: red;
}

.two {
	width: 500px;
	height: 250px;
	align-content: center;
}

.two > span {
	color: blue;
}

.three {
	width: 400px;
	height: 200px;
}

.three > span {
	color: #9c27b0;
}

.three > div {
	width: 300px;
	height: 150px;
}

.three > div span {
	color: #4caf50;
}

.three > div > div {
	width: 200px;
	height: 100px;
}

.three > div > div span {
	color: #ff9800;
}

.three > div > div > div {
	width: 100px;
	height: 50px;
}

.three > div > div > div span {
	color: #2196f3;
}