/*-------------------------main-------*/
body {
	margin: 0px;
	padding: 0px;
}

div, p, a, img, form, button {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0px;
	margin: 0px;	
}

a {
	text-decoration: none;
}

ul, li {
	display: block;
	padding: 0px;
	margin: 0px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*--------------------------container----*/

.main {
  width: 100%
}

#head {
  position: fixed; 
  left: 0; right: 0;
  top: 0; 
  padding: 10px;
  background: grey;
  color: #fff;
 }

#head h1 {
  margin: 0;
  text-align: center;
}

#body {  
  margin: 70px 5px 10px;
}

.block div {
  height: 2000px;
}

.one {
  width: 65%;
  height: 100%;
  background: blue;
  float: left;
}

.two {
  width: 34%;
  background: orange;
  float: right;
}


 #foot {
  position: static;
  padding: 10px;
  background: green;
  color: #fff;
 }

 #foot h1 {
  margin: 0;
  text-align: center;
}	