* {
	box-sizing: border-box;
}

.main {
	width: 900px;
	padding: 5px;
	margin: 0px auto;
	border:3px solid #12e412;
}

.section {
	width: 99%;
	margin:5px;
	padding: 5px;
	border:3px solid red;
}

.section div {
	display: inline-block;
	border: 3px solid blue;
	height: 90px;
}

.logo {
	width: 27%;
}

.menu {
	width: 44%;
}

.contact  {
	width: 28%;
}

.contact span {
	display: block;
	border: 3px solid #ffeb3b;
	margin:10px;
	padding: 10px;
}

#menu div {
	width: 22%;
	padding: 10px;
	height: 30px;
}

#menu div:last-child,
#menu div:first-child {
	width: 27.3%;
}

#content div {
	width: 32.5%;
	padding: 10px;
	height: 425px;
}

#content .img {
	width: 67%;
}

.img span {
	display: block;
	border: 3px solid #ffeb3b;
	margin:6px;
}

.img span:nth-child(1) {
	padding: 150px 0px;
}

.img span:nth-child(2) {
	padding: 35px 0px;
}