/*--------------main----------------------*/
body {
	color:#fff;
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	background: #ECECEC;	
}

div, p, a, img, form, button {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	padding: 0px;
	margin: 0px;	
}

a {
	text-decoration: none;
}

ul, li {
	display: block;
	padding: 0px;
	margin: 0px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*-----------------container------------*/

.container {
	width: 100%;
	
}

.section {
	width: 75%;
	height: 100%;
	margin: 0px auto;
}

.top {
	padding: 85px 0 50px;
}

.button, 
.sign {
	float: left;
	width: 140px;
	height:65px;
	padding: 5px;
}

.button {
	background: #FF4486;
	margin-right: 15px;
	border-radius:5px; 
}

.button a {
	font-family: 'Oleo Script', cursive;
	text-align: center;
	font-weight: 400;
	font-size: 56px;
	line-height: 60px;
	color: #ffffff;
	padding-left: 5px;

}

.sign span {
	text-align: center;
	font-weight: 800;
	font-size: 16px;
	line-height: 60px;
	color: #696969;
	display: inline-block;
	
}
.nav {
	float: right;
	padding: 25px 0;
}


.menu .item {
	float: left;
	margin-right: 20px;
	position: relative;
}

.menu .item a {
	text-align: center;
	font-weight: 800;
	font-size: 16px;
	color: #696969;
	display: block;
	padding: 5px 10px;
	border-radius: 5px;
	transition: all 0.3s ease;
}

.menu .w a:hover {
	background: #FFFFFF;
}

.menu .item:first-child a {
	background: #444444;
	color:  white;
}

 .block {
	width: 100%;
	background: white;
	border-radius: 5px;
	padding: 70px;
}

.text {
	float: left;
	margin-right: 50px; 
}

.options {
	float: right;	
}  

.text h1 {
	text-align: left;
	font-weight: 800;
	font-size: 61px;
	color: #444444;
	padding: 5px 10px;
}

.text h2 {
	text-align: left;
	font-weight: 300;
	font-size: 48px;
	color: #696969;
	padding: 5px 10px;
}

.options {
	float: right;	
} 

.function {
	width:450px;
	border-radius: 5px;
}

.function i,
.function a {
	display: inline-block;
	text-align: left;
	font-weight: 800;
	font-size: 39px;
	color: #FFFFFF;
	padding: 25px 30px;
}

.one {
	background: #0A9ACF;
	margin-bottom: 20px;
}

.two {
	background: #F2F2F2;
	color: #FFFFFF;
} 

.two a {
	color: #444444;
}

.function .fas {
	
}

