/*--------------main----------------------*/
body {
	color:#fff;
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	background: #ECECEC;	
}

div, p, a, img, form, button {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	padding: 0px;
	margin: 0px;	
}

a {
	text-decoration: none;
}

ul, li {
	display: block;
	padding: 0px;
	margin: 0px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}



/*-----------------HEAD---------------------------------------*/

.container {
	width: 1300px;
	height: 100%;
	margin: 0px auto;	
}

.section {
	width: 90%;
	margin: 0px auto;
}

.top {
	padding: 85px 0 50px;
}

.button, 
.sign {
	float: left;
	width: 140px;
	height:65px;
	padding: 5px;
}

.button {
	background: #FF4486;
	margin-right: 15px;
	border-radius:5px; 
}

.button a {
	font-family: 'Oleo Script', cursive;
	text-align: center;
	font-weight: 400;
	font-size: 56px;
	line-height: 60px;
	color: #ffffff;
	display: block;
}

.sign span {
	text-align: center;
	font-weight: 800;
	font-size: 16px;
	line-height: 60px;
	color: #696969;
	display: inline-block;	
}

/*-----------------menu------------*/

.nav {
	float: right;
	padding: 25px 0;
}

.menu .item {
	float: left;
	margin-right: 20px;
	position: relative;
}

.menu .item >a {
	text-align: center;
	font-weight: 800;
	font-size: 16px;
	color: #696969;
	display: block;
	padding: 5px 10px;
	border-radius: 5px;
	transition: all 0.3s ease;
}

.menu .w >a:hover {
	background: #FFFFFF;
}

.menu .item:first-child a {
	background: #444444;
	color:  white;
}

.sub {
	position: absolute;
	left: 0px;
	margin-top: 16px;
    padding:10px 0px;
    width: 180px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease;
	background: white;
	border:0.5px solid #ECECEC ;
	border-radius: 5px;	
}

.fa-caret-up {
	opacity: 0;
	visibility: hidden;
	font-size: 25px;
	position: absolute;
	bottom: 147px;
	left:15px;
}

.fa-caret-up,
.menu .item:hover .sub {
	opacity: 1;
	visibility: visible;
}

.sub li a {
	color: #696969;
	text-align: left;
	font-weight: 300;
	font-size: 15px;
	display: block;
	padding: 14px 10px;
	border-bottom:0.5px solid #ECECEC ;
	transition: all 0.3s ease;
}

.sub .subitem a:hover  {
	background: #ECECEC ;
}

.sub .last a {
	border:none;
}

.sub .subitem {
	position: relative;
}

.drop {
	position: absolute;
	top: -11px;
	left: 180px;
    width: 180px;
    padding:10px 0px;
    background: white;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease;
	border:0.5px solid #ECECEC ;
	border-radius: 5px;	
}

.sub .subitem:hover .drop {
	opacity: 1;
	visibility: visible;
}


/*-----------------BLOCK--------------------------------*/

.block {
	width: 100%;
	background: white;
	border-radius: 5px;
	padding: 50px;
}

.text {
	float: left;
	width: 50%; 
}

.options {
	float: right;
	width: 45%;	
}  

.text h1 {
	text-align: left;
	font-weight: 800;
	font-size: 51px;
	color: #444444;
	padding: 5px 10px;
	margin-bottom: 20px;
}

.text h2 {
	text-align: left;
	font-weight: 300;
	font-size: 40px;
	color: #696969;
	padding: 5px 10px;
} 

.function {
	width:90%;
	height: 100px;
	border-radius: 5px;
	float: right;
}

.function i,
.function a {
	font-weight: 800;
	font-size: 39px;
	color: #FFFFFF;
	padding: 25px 30px;
	float: left;
}

.function i {
	float: right;
	margin-top: 10px;
}

.one {
	background: #2e94b9;
	margin-bottom: 20px;
	transition: all 0.5s ease;
}

.one:hover {
	background: #0A9ACF;
}

.two {
	background: #F2F2F2;
	color: #FFFFFF;
	transition: all 0.7s ease;
}

.two:hover {
	background: #d2d2d2;
} 

.two i,
.two a  {
	color: #444444;
}

/*-----------------GALLERY---------------------------------------*/

.middle {
	padding: 50px 0;
}

.content {
	width:31%;
	float: left;
	background: white;
	border-radius: 10px;
	margin-right: 3.5%;
}

.content:last-child {
	float: right;
	margin-right: 0px;
}

.pic img {
	display: block;
	width: 100%;
	border-radius: 10px 10px 0 0;
}

.words {
	padding: 45px 30px 30px;
}

.words h3 {
	font-size: 22px;
	font-weight: 800;
	color: #444444;
	margin-bottom: 10px;
}

.words h4 {
	margin-bottom: 25px;
}

.words h4,
.words p {
	font-size: 16px;
	font-weight: 300;
	color: #696969;
}

.words p {
	line-height: 35px;
}

/*-----------------ABOUT---------------------------------------*/

#about {
	width: 100%;
	background: white;
	padding: 80px 0px;
	height: 100%;
}

.wrap {
	width: 85%;
	height: 100%;
}

.staff {
	width: 40%;
	padding-left: 50px;
    padding-top: 50px;
    float: left;
}

.about {
	width: 66%;
	float: right;
}

.staff h1 {
	font-size: 19px;
	font-weight: 800;
	color: #444;
	margin-bottom: 15px;
}

.screen img {
    display: block;
    width: 100%;
    border-radius: 8px;
}

.screens div{
	padding: 20px 0; 
}

.screens div:nth-child(2n+1) {
	float: left;
}

.screens div:nth-child(2n) {
	float: right;
}

.more {
	

}

.more a {
	padding: 15px 10px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-weight: 800;
	font-size: 22px;
	color: #ffffff;
	display: block;
	line-height: 0;
}

