body {
  color:#fff;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  background: #ECECEC;  
}

div, p, a, img, form, button {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0px;
  margin: 0px;  
}

a {
  text-decoration: none;
}

ul, li {
  display: block;
  padding: 0px;
  margin: 0px;
}

/*-----------------head--------------------------------*/


.main {
  width: 100%;
  background: green;
} 

.nav {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

.menu {
  display: flex;
  flex-direction: row ;
  justify-content: flex-end;
}

.item {
  margin-right: 20px;
}

.menu .item a  {
  background: white;
  color: black;
  font-size: 15px;
  border: 1px solid;
  padding: 10px 15px;
  display: block;
}

.burger {
  padding-bottom: 20px;
}

.item a:hover  {
  background: yellow;
}

.nav a {
  display: none;
  background: white;
  color: black;
  font-size: 15px;
  border: 1px solid;
  padding: 10px 15px;
}


@media (max-width: 768px) {

.menu {
  flex-direction: column;
  justify-content: space-around;
  align-items: center; 
}

.nav {
  justify-content: center; 
}

.menu .item a  {
margin-bottom: 10px;
} 
}

@media (max-width: 468px) {

.nav a {
  display: block;
  position: relative;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:flex-end; 
}

.menu  {
  position: absolute;
  top: 70px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}


.burger:hover ~ .menu  {
  opacity: 1;
  visibility: visible;
}

.menu:hover {
  opacity: 1;
  visibility: visible;
}

}

