html,
body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
}

div {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  height: 4000px;
  position: relative;
  min-height: 100%;
}

.head {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  background: grey;
}

.head h1 {
  margin:0px;
  padding:10px;
  text-align: center;  
}

.body {
  margin: 90px 10px 0;
  height: 97.5%;
  background: green;
}

.foot {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: red;
}

.foot h1 {
  margin:0px;
  padding:10px;
  text-align: center;  
}