body {
	color:#fff;
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	background: #EEEEEE;
	width: 100%;	
}

div, p, a, img, form, button {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	padding: 0px;
	margin: 0px;	
}

a {
	text-decoration: none;
}

ul, li {
	display: block;
	padding: 0px;
	margin: 0px;
}

/*-----------------head--------------------------------*/

.container{
	margin: 0px auto;
	width: 90%;
}	


.head {	
	background: linear-gradient(90deg, #000, #FD0000);
	padding: 10px 5px;	
} 

.logo {

}

@keyframes shadow {
from {box-shadow: 5 5 3px black;}
50% {box-shadow: 30 30 30px black;}
to {box-shadow: 0 0 3px black;}
}

.logo a{
	width: 80px;
	font-size: 20px;
	font-weight: 800;
	display: block;
	padding: 5px 10px;
	background: #000;
	color: white;
	border: 2px solid red;
	border-radius: 10px;
	animation: shadow  2s infinite ease-in-out;
}

.gallery {
	background: #BEBEBE;
	margin: 20px 0;
	padding: 20px 10px;
	display: flex;
	justify-content: space-between;
	align-items:center;
}

figure {
	margin: 0px;
	width: 19%;
	background: white;
	padding: 5px 10px;
	display: block;
}

img {
	width: 100%;
}

figcaption {
	text-align: center;
	color: black;
}
