@import reset.sass


input[type="radio"]
	display: none

article
	width: 100%
	height: 100vh
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center

.inner
	max-width: 765px
	width: 762px
	max-height: 245px
	display: flex
	justify-content: space-around
	align-items: center


.slider
	height: 240px
	max-width: 700px
	min-width: 242px	
	border: 1px solid
	border-radius: 10px
	padding: 20px
	display: flex
	align-items: center

	.wrap
		height: 200px
		max-width: 620px
		min-width: 210px

		overflow: hidden

		.content
			height: 200px
			max-width: 620px
			min-width: 210px
			display: flex
			justify-content: flex-start
			align-items: center
			transition: all 0.5s
			
			.item
				margin-right: 10px
				&:last-child
					margin-right: 0	
				a
					display: block
					width: 200px
					height: 200px
					text-align: center

					img
						width: 100%
						height: 100%

.left
	transform: rotate(180deg)

.button
	label
		display: block
		width: 40px
		height: 40px
		border: 1px solid
		border-radius: 50%
		position: relative

		span
			width: 20px
			height: 2px
			background: black
			position: absolute
			top: 50%
			left: 50%
			margin-top: -2px
			margin-left: -10px
			transform: rotate(-40deg)
			transform-origin: right
			&:first-child
				transform: rotate(40deg)
				transform-origin: right


#left:checked ~ .inner .slider .wrap .content
	transform: translate(0px)

#right:checked ~ .inner .slider .wrap .content
	transform: translate(-630px)

/*--------------------BREAKPOINT------------*/

@import breakpoint.sass





	