/*--------------main----------------------*/
body {
	color:#fff;
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	overflow: hidden;
	background: url(../img/workspace.jpg);	
}

div, p, a, img, form, button {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0px;
	margin: 0px;	
}

a {
	text-decoration: none;
}

ul, li {
	display: block;
	padding: 0px;
	margin: 0px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*-----------------container------------*/

#head {
	width: 100%;
	height: 45px;
	background: #454545;
}

nav {
	float: right;
	margin-right: 200px;
}

.menu > li {
	float: left;
	position: relative;
}

.menu li a {
	display: block;
	color: white;
	background: #454545;
	padding: 10px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	transition: all 0.5s ease;
}

.menu li a:hover {
	background: #343434;
}

.menu .fa {
	margin:0 5px;
}

.sub {
	opacity: 0;
	visibility: hidden;	
	transition: all 0.5s ease;	
}

 .menu > li a:hover ~ .sub {
	opacity: 1;
  	visibility: visible;
} 



/* 	transition: all 0.5s ease; */