/*--------------MAIN----------------------*/
body {
	color:#fff;
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	background: #ECECEC;	
}

div, p, a, img, form, button {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	padding: 0px;
	margin: 0px;	
}

a {
	text-decoration: none;
}

ul, li {
	display: block;
	padding: 0px;
	margin: 0px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}



/*-----------------HEADER-------------------------*/

 @media (min-width: 768px) {
 	
body {
	opacity:  0;
	visibility: hidden;
}	
}

header,
footer,
section {
	width: 100%;
}

.container {
	width: 768px;
	margin:0px auto;
	background: white;
	border: 1px solid #DEDEDE;
	border-bottom: none; 
} 

.gallery {
	margin : 10px 20px;	
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    padding: 10px;
}

.title {
	padding: 10px 0px;
	width: 30%;
}

.title h1 {
	font-size: 16px;
	font-weight: 400;
	color: #606060;
}

.info {
	padding: 15px 0px;
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items:flex-start;
	flex-wrap: wrap;
	align-content: flex-start;
}

.info >div {
	margin-bottom: 5px;
}

.text {
	display: flex;
	justify-content: flex-start;
	align-items:center;

}

.text span {
	display: block;
	font-size: 14px;
}

.conf {
	color: #656565;
	margin-right: 5px;
}

.answ {
	color: #000;
}

.img {
	width: 20%;
}

::-webkit-progress-bar {
    background: #EEEEEE;
}
::-webkit-progress-value {
    background: red;
}

progress {
    color: red;
    background: #EEEEEE;
} 


.comment {
	padding: 15px 20px;
}

.comment h2 {
	font-size: 14px;
	font-weight: 400;
	color: #606060;
}

.menu {
	padding: 20px;
	display: flex;
	justify-content: space-around;
}

.menu li {	
	width: 22%
}

.item {
	display: block;
	padding: 5px;
	margin-left: 5px;
	color: #656565;
	justify-content: space-around;
}

.fas, .far {
	margin-right: 10px;
}