body {
	color:#fff;
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	background: #ECECEC;	
}

div, p, a, img, form, button {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	padding: 0px;
	margin: 0px;	
}

a {
	text-decoration: none;
}

ul, li {
	display: block;
	padding: 0px;
	margin: 0px;
}

/*-------------head--------------*/

header {
	width: 100%;
} 

.container {
	width: 100%;
	height: auto;
	background: green;
	display: flex;
    justify-content: flex-end;
    padding: 20px;
} 

.menu a {
	margin-right: 10px;
	background: white;
	color: black;
	font-size: 15px;
	border: 1px solid;
	padding: 10px 15px;
	display: block;
}

.menu {
	display: flex;
	justify-content: flex-end;
}

.container a:hover {
	background: yellow;
}

/*-------------button--------------*/

.burger {
	margin-right: 10px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 1px solid;
    border-radius: 50%;
    position: relative;
    display: block;
}

.burger span::before,
.burger span::after,
.burger span {
	position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -10px;
    margin-top: -1px;
	width: 20px;
	height: 2px;
	background: black;
}

.burger span::before,
.burger span::after {
	content: '';
	display: block;
	transition: all 0.5s ease;
}

.burger span::before {
    transform: translateY(-5px);
}
.burger span::after {
    transform: translateY(5px);
}

.menu-btn_active span:before {
  transform: rotate(-35deg);
  width: 10px;
  transform-origin: left bottom;
}
.menu-btn_active span:after {
  transform: rotate(35deg);
  width: 10px;
  transform-origin: left top;
}

.burger {
	display: none;
}

/*----------------768px--------------*/

@media (max-width: 768px) {

.container {
	justify-content: center;
}

.menu {
	flex-direction: column;
}

.container a  {
	margin-bottom: 10px;
}
}

/*----------------468px-------------*/

@media (max-width: 468px) {

.container {
	flex-direction: column;
	align-items:flex-end;
}

.burger {
	display: block;
}

.menu {
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease;
}
 
.burger:hover ~ .menu  {
 	opacity: 1;
	visibility: visible;
}

.menu:hover   {
 	opacity: 1;
	visibility: visible;
}


.burger:hover   {
 	opacity: 1;
	visibility: visible;
}

}



