.header{
    width: 900px;
    
    background-color: red; 
}
.logo {
    border: 1px solid black;
    width: 20%;
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
    display: inline-block;
}
.logo_wrap{
    border: 1px solid black;
    width: 22%;
    border-radius: 3px;
    margin: 4px;
    padding: 5px;
}
.menu{
   border: 1px solid black;
   width: 68%;
   display: inline-block;
   padding: 5px; 
   text-align: right;
}
.menu_wraper {
   border: 1px solid black;
   display: inline-block;
   padding: 5px;
}