* {
	box-sizing: border-box;
}

.section {
    width: 900px;
    background: red;
    margin:0px auto;    
}

.menu_wrap,
.logo_wrap {
	display: inline-block;
	border: 1px solid;
	width: 28%;
	margin:5px;
}

.menu_wrap {
	width: 67%;
}

.logo {
	display: inline-block;
	border: 1px solid;
	border-radius: 5px;
	width: 20%;
	margin:2px;
	padding: 5px;
}

.menu div {
	display: inline-block;
	border: 1px solid;
	margin:2px;
	padding: 5px;
}

.menu {
	text-align:right;
}

#body {
	background: yellow;
}

#footer div,
#body div {
	height: 500px;
	border-radius: 5px 0px 0px 5px ;
}

#footer .menu_wrap,
#body .menu_wrap {
	border-radius: 0px 5px 5px 0px ;
}

#footer {
	background: green;
}

#footer div {
	height: 200px;
}

