.header{
    width: 900px;    
    background: red; 
}

.menu_wrap,
.logo_wrap {
	display: inline-block;
	border: 1px solid;
	width: 28%;
	margin:5px;
}

.logo {
	display: inline-block;
	border: 1px solid;
	border-radius: 5px;
	width: 20%;
	margin:2px;
	padding: 5px;
}

.menu_wrap {
	width: 67%;
}

.menu div {
	display: inline-block;
	border: 1px solid;
	margin:2px;
	padding: 5px;
}

.menu {
	text-align:right;
}

