/*-------------------------main-------*/
body {
	margin: 0px;
	padding: 0px;
}

div, p, a, img, form, button {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0px;
	margin: 0px;	
}

a {
	text-decoration: none;
}

ul, li {
	display: block;
	padding: 0px;
	margin: 0px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*-------------------------main-------*/

#body {
	margin-left: 20px;
}

.button {
	border: 1pxsolid;
	background: grey;
	width: 120px;
	padding: 5px;
	margin-bottom: 10px;
}

.text {
	border:1px solid;
	width: 300px;
	height: 100px;
	padding: 10px;
	overflow:hidden;
	transition: all 1s ease-out;
}

.button:hover ~ .text {
	height: 300px;
}

p {
	margin: 0px;
}